<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Meny')}"></head>
<body>
<div class="atm-machine">
  <div th:replace="~{fragments :: atm-top}"></div>
  <div class="atm-mid">
    <div th:replace="~{fragments :: atm-side-left}"></div>
    <div class="atm-screen">
      <div th:replace="~{fragments :: screen-bar('VÄLKOMMEN')}"></div>
      <div class="screen-main">
        <div class="screen-welcome">
          <h2>Välj tjänst</h2>
          <p>Tryck på önskat alternativ</p>
        </div>
        <a class="menu-btn" th:href="@{/registervard}">Registervård</a>
        <a class="menu-btn" th:href="@{/kontohantering}">Kontohantering</a>
        <a class="menu-btn secondary" th:href="@{/kontoversikt}">Kontoöversikt</a>
      </div>
    </div>
    <div th:replace="~{fragments :: atm-side-right}"></div>
  </div>
  <div th:replace="~{fragments :: atm-bottom}"></div>
</div>
</body>
</html>
